<!--Footer-->
<div class="news-letter">
			<div class="container">
				<div class="join">
					<h6>Escríbenos</h6>
					<div class="sub-left-right">
						<form>
							<input type="text" value="Escriba su correo aqui" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Escriba su correo aqui';}" />
							<input type="submit" value="Enviar" />
						</form>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="footer">
		<div class="container">
            
		 <div class="footer_top">
            
			<div class="span_of_4">
				<div class="col-md-4 span1_of_4">
					<h4>Catálogo</h4>
					<ul class="f_nav">
						<li><a data-method="get" href="store/products">Anillos</a></li>
						<li><a data-method="get" href="store/products">Pulseras</a></li>
						<li><a data-method="get" href="store/products">Collares</a></li>
						<li><a data-method="get" href="store/products">Aretas</a></li>
						
					</ul>	
				</div>
				<div class="col-md-4 span1_of_4">
					<h4>Quienes somos</h4>
					<ul class="f_nav">
						<li><a data-method="get" href="store/products">Nosotros</a></li>
						<li><a data-method="get" href="store/products">Contáctenos</a></li>
						
					</ul>	
				</div>
				<!--<div class="col-md-3 span1_of_4">
					<h4>account</h4>
					<ul class="f_nav">
						<li><a data-method="get" href="account.html">login</a></li>
						<li><a data-method="get" href="register.html">create an account</a></li>
						<li><a data-method="get" href="store/products">create wishlist</a></li>
						<li><a data-method="get" href="checkout.html">my shopping bag</a></li>
						<li><a data-method="get" href="store/products">brands</a></li>
						<li><a data-method="get" href="store/products">create wishlist</a></li>
					</ul>				
				</div>-->
				<div class="col-md-4 span1_of_4">
					<h4>Frecuente</h4>
					<ul class="f_nav">
						<li><a data-method="get" href="store/products">Novedades</a></li>
						<li><a data-method="get" href="store/products">Anillos</a></li>
						<li><a data-method="get" href="store/products">Colleciones</a></li>
						<li><a data-method="get" href="store/products">Pulseras</a></li>
						
					</ul>	
                    <br>
                    <br>
				</div>
				<div class="clearfix"></div>
				</div>
		  </div>
		 
		  <div class="copyright text-center">
				<p>© 2016 PlatinoSoftware. All Rights Reserved | Design by   <a data-method="get" href="http://w3layouts.com">  W3layouts</a></p>
		  </div>
		</div>
		</div>