<!--Footer-->
<div class="news-letter">
			<div class="container">
				<div class="join">
					<h6>Escríbenos</h6>
					<div class="sub-left-right">
						<%= form_tag '/suscribir' do %>
							<input type="text" name="email" id="name" value="Escriba su correo aqui" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Escriba su correo aqui';}" />
							<input type="submit" value="Enviar" />
						<% end %>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="footer">
		<div class="container">
		 <div class="footer_top">
         
            <img src="../images/logo.png"  width="240px" height="100">
              
             <h3> <a class="facebook" href="https://www.facebook.com/ruzovy.co?fref=ts"></a>&nbsp;&nbsp;<a href="https://www.instagram.com/ruzovy.co/"><img src="../images/instagram.png"  width="30px" height="30px"></a></h3>
					
            
             <br>
             <br>
            
			<div class="span_of_4">
               
				<div class="col-md-4 span1_of_4">
					<h4>Catálogo</h4>
					<ul class="f_nav">
						<li><a data-method="get" href="store/anillos">Anillos</a></li>
						<li><a data-method="get" href="store/pulseras">Pulseras</a></li>
						<li><a data-method="get" href="store/collares">Collares</a></li>
						<li><a data-method="get" href="store/aretas">Aretas</a></li>
						
					</ul>	
				</div>
				<div class="col-md-4 span1_of_4">
					<h4>Quienes somos</h4>
					<ul class="f_nav">
						<li><a data-method="get" href="store/typo">Elizabeth C. Salazar</a></li>
						<li><a data-method="get" href="store/contact">Contáctenos</a></li>
						<li><a data-method="get" href="../administracion/login" style="color:white">Administración</a></li>
					</ul>	
				</div>
				<div class="col-md-4 span1_of_4">
					<img src="../images/ella.jpg"  width="150px" height="150">
					<ul class="f_nav">
						<li><a data-method="get" href="../../store/contact">elizabeth.salazar@ruzovy.co</a></li>
                        <li><a data-method="get" href="">3116066229</a></li>
						
					</ul>	
                    <br>
                    <br>
				</div>
				<div class="clearfix"></div>
				</div>
		  <div>
             <div class="col-md-3 span1_of_4">
                 
             <img src="../images/tarjetas_aceptadas.png"  width="200px" height="100">
             </div>
                 <div class="col-md-5 span1_of_4">
                     <h4>Aceptamos todos los medios de pago</h4>
                     <ul class="f_nav">
                         <li><a>Cuenta de ahorros Bancolombia Nro. 28240150958</a></li>
                     </ul>
             </div>
                 <div class="clearfix"></div>
             </div>
             
             
		  </div>
		  <div class="copyright text-center">
              <br>
              <br>
              <br>
              <br>
              <p>©2016 <a href="http://idlabcompany.com">idlabcompany</a> by PlatinoSoftware. All Rights Reserved | Design by   <a data-method="get" href="http://w3layouts.com">  W3layouts</a></p>
		  </div>
		</div>
		</div>