<!--Footer-->
<div class="news-letter">
			<div class="container">
				<div class="join">
					<h6>Escríbenos</h6>
					<div class="sub-left-right">
						<form>
							<input type="text" value="Escriba su correo aqui" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Escriba su correo aqui';}" />
							<input type="submit" value="Enviar" />
						</form>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="footer">
		<div class="container">
		 <div class="footer_top">
            <img src="../images/logo.png"  width="240px" height="100">
             <br>
             <br>
			<div class="span_of_4">
				<div class="col-md-4 span1_of_4">
					<h4>Catálogo</h4>
					<ul class="f_nav">
						<li><a data-method="get" href="store/anillos">Anillos</a></li>
						<li><a data-method="get" href="store/pulseras">Pulseras</a></li>
						<li><a data-method="get" href="store/collares">Collares</a></li>
						<li><a data-method="get" href="store/aretas">Aretas</a></li>
						
					</ul>	
				</div>
				<div class="col-md-4 span1_of_4">
					<h4>Quienes somos</h4>
					<ul class="f_nav">
						<li><a data-method="get" href="store/typo">Nosotros</a></li>
						<li><a data-method="get" href="store/contact">Contáctenos</a></li>
						
					</ul>	
				</div>
				<div class="col-md-4 span1_of_4">
					<h4>Frecuente</h4>
					<ul class="f_nav">
						<li><a data-method="get" href="store/novedades">Novedades</a></li>
						<li><a data-method="get" href="store/anillos">Anillos</a></li>
						<li><a data-method="get" href="store/products">Colleciones</a></li>
						<li><a data-method="get" href="store/pulseras">Pulseras</a></li>
						
					</ul>	
                    <br>
                    <br>
				</div>
				<div class="clearfix"></div>
				</div>
		  </div>
		  <div class="copyright text-center">
				<p>© 2016 PlatinoSoftware. All Rights Reserved | Design by   <a data-method="get" href="http://w3layouts.com">  W3layouts</a></p>
		  </div>
		</div>
		</div>