<nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" href="/">Inicio</a>
  <ul class="nav navbar-nav">
    <li class="pull-xs-right">
      <% if logged? %>
        <a class="" href="#">Salir</a>
      <% end %>
    </li>
  </ul>
</nav>