<nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" href="/">Inicio</a>
  <ul class="nav navbar-nav">
    <li class="pull-xs-right">
      <% if logged? %>
      <%= link_to "Salir", cerrar_sesion_path, method: :delete %>
      <% end %>
    </li>
  </ul>
</nav>