<!--navbar-->
<div class="inner-banner">
		<div class="container">
			<div class="banner-top inner-head">
				<nav class="navbar navbar-default" role="navigation">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	        </button>
				<div class="logo">
					<h1><a href="/"><span>E</span> -Shop</a></h1>
				</div>
	    </div>
	    <!--/.navbar-header-->
	
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
			<li><a href="index.html">Home</a></li>
		        <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Men <b class="caret"></b></a>
		            <ul class="dropdown-menu multi-column columns-3">
			            <div class="row">
				            <div class="col-sm-4">
					            <ul class="multi-column-dropdown">
									<h6>NEW IN</h6>
						            <li><a href="store/products">New In Clothing</a></li>
						            <li><a href="store/products">New In Bags</a></li>
						            <li><a href="store/products">New In Shoes</a></li>
						            <li><a href="store/products">New In Watches</a></li>
						            <li><a href="store/products">New In Grooming</a></li>
					            </ul>
				            </div>
				            <div class="col-sm-4">
					            <ul class="multi-column-dropdown">
									<h6>CLOTHING</h6>
						            <li><a href="store/products">Polos & Tees</a></li>
						            <li><a href="store/products">Casual Shirts</a></li>
						            <li><a href="store/products">Casual Trousers</a></li>
						            <li><a href="store/products">Jeans</a></li>
						            <li><a href="store/products">Shorts & 3/4th</a></li>
						            <li><a href="store/products">Formal Shirts</a></li>
						            <li><a href="store/products">Formal Trousers</a></li>
						            <li><a href="store/products">Suits & Blazers</a></li>
						            <li><a href="store/products">Track Wear</a></li>
						            <li><a href="store/products">Inner Wear</a></li>
					            </ul>
				            </div>
				            <div class="col-sm-4">
					            <ul class="multi-column-dropdown">
									<h6>WATCHES</h6>
						            <li><a href="store/products">Analog</a></li>
						            <li><a href="store/products">Chronograph</a></li>
						            <li><a href="store/products">Digital</a></li>
						            <li><a href="store/products">Watch Cases</a></li>
					            </ul>
				            </div>
							<div class="clearfix"></div>
			            </div>
		            </ul>
		        </li>
		        <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">women <b class="caret"></b></a>
		            <ul class="dropdown-menu multi-column columns-3">
			            <div class="row">
				            <div class="col-sm-4">
					            <ul class="multi-column-dropdown">
									<h6>NEW IN</h6>
						            <li><a href="store/products">New In Clothing</a></li>
						            <li><a href="store/products">New In Bags</a></li>
						            <li><a href="store/products">New In Shoes</a></li>
						            <li><a href="store/products">New In Watches</a></li>
						            <li><a href="store/products">New In Beauty</a></li>
					            </ul>
				            </div>
				            <div class="col-sm-4">
					            <ul class="multi-column-dropdown">
									<h6>CLOTHING</h6>
						            <li><a href="store/products">Polos & Tees</a></li>
						            <li><a href="store/products">Casual Shirts</a></li>
						            <li><a href="store/products">Casual Trousers</a></li>
						            <li><a href="store/products">Jeans</a></li>
						            <li><a href="store/products">Shorts & 3/4th</a></li>
						            <li><a href="store/products">Formal Shirts</a></li>
						            <li><a href="store/products">Formal Trousers</a></li>
						            <li><a href="store/products">Suits & Blazers</a></li>
						            <li><a href="store/products">Track Wear</a></li>
						            <li><a href="store/products">Inner Wear</a></li>
					            </ul>
				            </div>
				            <div class="col-sm-4">
					            <ul class="multi-column-dropdown">
									<h6>WATCHES</h6>
						            <li><a href="store/products">Analog</a></li>
						            <li><a href="store/products">Chronograph</a></li>
						            <li><a href="store/products">Digital</a></li>
						            <li><a href="store/products">Watch Cases</a></li>
					            </ul>
				            </div>
							<div class="clearfix"></div>
			            </div>
		            </ul>
		        </li>
		        <li class="dropdown">
		        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">kids <b class="caret"></b></a>
		            <ul class="dropdown-menu multi-column columns-2">
			            <div class="row">
				            <div class="col-sm-6">
					            <ul class="multi-column-dropdown">
									<h6>NEW IN</h6>
						            <li><a href="store/products">New In Boys Clothing</a></li>
						            <li><a href="store/products">New In Girls Clothing</a></li>
						            <li><a href="store/products">New In Boys Shoes</a></li>
						            <li><a href="store/products">New In Girls Shoes</a></li>
					            </ul>
				            </div>
				            <div class="col-sm-6">
					             <ul class="multi-column-dropdown">
									<h6>ACCESSORIES</h6>
						            <li><a href="store/products">Bags</a></li>
						            <li><a href="store/products">Watches</a></li>
						            <li><a href="store/products">Sun Glasses</a></li>
						            <li><a href="store/products">Jewellery</a></li>
					            </ul>
				            </div>
							<div class="clearfix"></div>
			            </div>
		            </ul>
		        </li>
					<li><a href="store/typo">TYPO</a></li>
					<li><a href="store/contact">CONTACT</a></li>
	        </ul>
	    </div>
	    <!--/.navbar-collapse-->
	</nav>
	<!--/.navbar-->
</div>
	</div>
		</div>