<!--navbar-->
<div class="inner-banner">
		<div class="container">
			<div class="banner-top inner-head">
				<nav class="navbar navbar-default" role="navigation">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	        </button>
				<div class="logo">
                    <br>
					<img src="../images/logo.png"  width="240px" height="100">
				</div>
	    </div>
	    <!--/.navbar-header-->
	
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
			<li><a data-method="get" href="/">Inicio</a></li>
		        <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Colección <b class="caret"></b></a>
		            <ul class="dropdown-menu multi-column columns-3">
			            <div class="row">
				           <div class="col-sm-4">
					            <ul class="multi-column-dropdown">
									<h6>Aretas</h6>
						            <li><a data-method="get" href="../store/aretas">Analog</a></li>
						            <li><a data-method="get" href="../store/aretas">Chronograph</a></li>
						            <li><a data-method="get" href="../store/aretas">Digital</a></li>
						            <li><a data-method="get" href="../store/aretas">Watch Cases</a></li>
					            </ul>
				            </div>
				            <div class="col-sm-4">
					            <ul class="multi-column-dropdown">
									<h6>Pulseras</h6>
						            <li><a data-method="get" href="../store/pulseras">Polos & Tees</a></li>
						            <li><a data-method="get" href="../store/pulseras">Casual Shirts</a></li>
						            <li><a data-method="get" href="../store/pulseras">Casual Trousers</a></li>
						            <li><a data-method="get" href="../store/pulseras">Jeans</a></li>
						            <li><a data-method="get" href="../store/pulseras">Shorts & 3/4th</a></li>
						            <li><a data-method="get" href="../store/pulseras">Formal Shirts</a></li>
						            <li><a data-method="get" href="../store/pulseras">Formal Trousers</a></li>
						            <li><a data-method="get" href="../store/pulseras">Suits & Blazers</a></li>
						            <li><a data-method="get" href="../store/pulseras">Track Wear</a></li>
						            <li><a data-method="get" href="../store/pulseras">Inner Wear</a></li>
					            </ul>
				            </div>
				            <div class="col-sm-4">
					            <ul class="multi-column-dropdown">
									<h6>Collares</h6>
						            <li><a data-method="get" href="../store/collares">Analog</a></li>
						            <li><a data-method="get" href="../store/collares">Chronograph</a></li>
						            <li><a data-method="get" href="../store/collares">Digital</a></li>
						            <li><a data-method="get" href="../store/collares">Watch Cases</a></li>
					            </ul>
				            </div>
                            
                             <div class="col-sm-4">
					            <ul class="multi-column-dropdown">
									<h6>Anillos</h6>
						            <li><a data-method="get" href="../store/anillos">New In Clothing</a></li>
						            <li><a data-method="get" href="../store/anillos">New In Bags</a></li>
						            <li><a data-method="get" href="../store/anillos">New In Shoes</a></li>
						            <li><a data-method="get" href="../store/anillos">New In Watches</a></li>
						            <li><a data-method="get" href="../store/anillos">New In Grooming</a></li>
					            </ul>
				            </div>
							<div class="clearfix"></div>
			            </div>
		            </ul>
		        </li>
		        
		            <li><a data-method="get" href="../store/novedades">Novedades</a></li>
					<li><a data-method="get" href="../store/typo">Elizabeth C. Salazar</a></li>
					<li><a data-method="get" href="../store/contact">Contacto</a></li>
	        </ul>
	    </div>
	    <!--/.navbar-collapse-->
	</nav>
	<!--/.navbar-->
</div>
	</div>
		</div>