<br>
<h1><center><ins>Elizabeth C. Salazar</ins></center></h1>
<br>
<br>
<br>

<div class="container">
<div class="imagenes-nosotros">
<img src="../images/FotosRuzovy/Elizabeth2.jpg"  width="400px" height="400" />
</div>

    <div class="imagenes-nosotros-cen">
<p>Joyas que conectan con tus sueños un talento heredado por generaciones 

Un arte de orfebre que a estado  plasmado en las manos de artista de mi abuelo 

Un apellido de generaciones que trasciende por más de 75 años 

Salazar joyeros fundado por mi abuelo luis Fernando salazar quien me a dado un arte en mis manos para toda la vida como orfebre .</p>  
    </div>
    
<div class="imagenes-nosotros-der">
<img src="../images/FotosRuzovy/RuzovyAbuelo.jpg"  width="400px" height="400"/>
</div> 

</div>